<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" />
    <title>Movify</title>
  </head>
  <body>
    <header class="header">
      <div class="menu" id="menu">
        <div class="logo">
          <a href="index.html#Landingpage"
            ><img src="{{ url_for('static', filename='logo.png') }}" alt=""
          /></a>
        </div>

        <nav class="fill">
          <div class="nav-wrapper">
            <ul>
              <li class="menu-logo"></li>
              <li><a href="/#" class="active">Home</a></li>
              <li><a href="/recommedations">Recommedations</a></li>
              <li><a href="/#">About</a></li>
              <li id="contact-menu"><a href="/#">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </body>
</html>